.root {
    -fx-background-color: #f7fafd; /* خلفية ناعمة مثل ألوان المواقع الطبية */
    -fx-font-family: 'Noto IKEA Arabic Bold', sans-serif;
}

/* العنوان الرئيسي */
.label {
    -fx-text-fill: #044e7c; /* لون أزرق داكن */
    -fx-font-size: 50px;
    -fx-alignment: center;
}

/* الأزرار */
.button {
    -fx-background-color: linear-gradient(to bottom right, #088cc3, #05b0b9);
    -fx-text-fill: white;
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-background-radius: 15px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 6, 0.1, 2, 2);
    -fx-padding: 10px 20px;
    -fx-border-color: #e0f4f7;
    -fx-border-radius: 15px;
}

/* عند المرور فوق الزر */
.button:hover {
    -fx-background-color: linear-gradient(to bottom right, #05b0b9, #088cc3);
    -fx-scale-x: 1.03;
    -fx-scale-y: 1.03;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 8, 0.1, 2, 2);
}

/* عند الضغط */
.button:pressed {
    -fx-background-color: #066f9c;
}
